.blueBanner {
  display: flex;
  height: auto;
  background-color: #1980c8;
  padding: 0 0 100px 6em;
  margin-top: 60px;

  &.Bottom {
    padding: 48px 70px 48px 6em;
    width: auto;
  }
}

.whiteBanner {
  padding: 100px 0;
  margin: 0 10em;
}

.midBanner {
  display: flex;
}

.flexRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px 60px 0 0;
  margin-left: 8em;
}

.heading {
  font-size: 3rem;
  padding-top: 30px;
  line-height: 1.2;
  color: white;
}

.subText {
  font-size: 1.125rem;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.leftContainer {
  width: 40%;
}

.getInTouchButton {
  background-color: #fff;
  color: #1980c8;
  padding: 9px 15px;
  font-size: 20px;
}

.genericPeople {
  width: 40em;
}

.boldPara {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.lowerPara {
  font-size: 1.5rem;
  margin-top: 56px;
  font-weight: 300;
}

.directionalImage {
  max-width: 350px;
  max-height: 350px;
}

.explainer {
  margin: 0;
  font-size: 2rem;
  line-height: 1.25;
  color: #fff;
}

@media (max-width: 1000px) {
  .genericPeople {
    display: none;
  }

  .container {
    grid-template-columns: 1fr; /* Set a single column on mobile */
  }

  .blueBanner {
    margin-top: 0;
    padding-left: 2em;
    padding-right: 1rem;

    &.Bottom {
      width: auto;
      padding: 60px 20px 100px 20px;
    }
  }

  .heading {
    font-size: 2.4em;
  }

  .midBanner {
    flex-direction: column;
    align-items: center;
  }

  .whiteBanner {
    margin: 0 2em;
  }

  .flexRight {
    width: 100%;
    padding: 0;
    margin: auto;
  }

  .leftContainer {
    width: 100%;
  }

  .directionalImage {
    max-width: 300px;
    max-height: 300px;
  }

  .explainer {
    line-height: 1.5;
  }
}
