.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  height: 60px;
  padding: 0 6em;
  background-color: rgb(51, 51, 51);
}

#navLeftContainer {
  margin-top: 5px;
}

#leftNavText {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

#navRightContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 700;
}

.njHeaderLink {
  display: flex;
  color: inherit;
  text-decoration: none;
}

#bold {
  font-weight: 700;
}

.subLink {
  font-size: 14px;
  color: inherit;
  padding: 0 10px;
  border-right: 1px solid;
}

.subLink:last-child {
  border-right: none; /* Remove right border for the last child */
}
