.newsContainer {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.newsItemsContainer {
  width: 100%;
  max-width: 80rem;
  justify-content: center;
  padding: 4rem 40px 0 100px;
}

.titles {
  padding-left: 100px;
  padding-right: 20px;
}

.newsThumbImage {
  width: auto;
  max-width: 220px;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}

.articleTile {
  border: 2px solid rgba(185, 185, 185, 0.5);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 20px 40px;
  display: flex;
  margin-right: 80px;
}

.articleTitle {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 32px;
}

.articleTileRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.readMoreButton {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #f5f5f5;
  background-color: #1980c8;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 44px;
}

p {
  margin: 0;
}

@media (max-width: 1000px) {
  .titles {
    padding-left: 20px;
  }

  .newsContainer {
    padding-top: 40px;
  }

  .articleTile {
    flex-direction: column;
    margin-right: 40px;
  }

  .newsItemsContainer {
    padding-left: 20px;
  }

  .articleTileRight {
    margin-left: 0; /* Remove the left margin for mobile */
  }
}
