.partnersSection {
  padding: 44px 100px 26px 6em;
}

.quote {
  padding-left: 5.2rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  font-style: italic;
}

.quoter {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  text-align: left;
  width: 60%;
  margin-left: auto;
  padding: 40px 0;
}

.partnerLogoSection {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.partnerImg {
  max-width: 250px;
  max-height: 250px;

  &.First {
    max-height: 100px;
  }
}

@media (max-width: 1000px) {
  .quote {
    padding: 0;
  }

  .partnersSection {
    padding: 60px 20px 26px 2em;
  }

  .quoter {
    margin: 0;

    width: auto;
  }

  .partnerLogoSection {
    flex-direction: column;
    align-items: center;
  }

  .partnerImg {
    padding-bottom: 40px;
  }
}
